@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

6. camping


******************************/

/***********
6. camping
***********/
.event {
    padding-top: 94px;
    padding-bottom: 98px;
    background: #FFFFFF;
}