@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

6. user


******************************/

/***********
6. user
***********/

.section-user {
	overflow: hidden;
	min-height: calc(100vh - 397px - 369px);
	background-color: #f5f6f7;
}

.loginform, .userForm, .modUserform {
	width: 100%;
	max-width: 460px;
	margin: auto;
}

.loginform .btn, .userForm .btn, .modUserform .btn {
	border-radius: 0;
}

.changeform, .leaveform {
	width: 100%;
	max-width: 510px;
	margin: auto;
}