@charset "UTF-8";

.section-user {
	overflow: hidden;
	min-height: calc(100vh - 397px - 369px);
	background-color: #f5f6f7;
}

.loginform,
.userForm,
.modUserform {
	width: 100%;
	max-width: 460px;
	margin: auto;
	
	.btn {
		border-radius: 0;
	}
}

.changeform,
.leaveform {
	width: 100%;
	max-width: 510px;
	margin: auto;
}
